---
import { CollectionEntry } from "astro:content";
import { getPicture } from "@astrojs/image";

interface Props {
  project: CollectionEntry<'project'>;
  index?: number;
}

const { project: { data, slug }, index } = Astro.props;

const { image, sources } = await getPicture({
  src: data.cover.src,
  widths: [330, 480],
  formats: ['avif', 'webp'],
  aspectRatio: '4:3',
  alt: data.cover.alt,
});
---

<article data-year={data.releaseYear}>
  <h3>{data.title}</h3>
  <p>{data.excerpt}</p>
  <p>
    <span class="visually-hidden">Technologie principale et service réalisé :</span>
    <small>{data.technologies.slice(0, 1)}, {data.services.slice(0, 1)}</small>
  </p>
  <picture>
    {sources.map((attrs) => <source {...attrs} sizes="330px" />)}
    <img alt={data.cover.alt} {...image} loading={index && index < 3 ? "eager" : "lazy"} decoding={index &&index < 3 ? "sync" : "async"} />
  </picture>
  <p>
    <a class="button button--with-icon" href={`/projet/${slug}`}>
      <span>Voir l'étude de cas</span>
      <span class="visually-hidden"> du projet {data.title}</span>
      <svg focusable="false" aria-hidden="true" class="icon-arrow-right-thin">
        <use xlink:href="/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </p>
</article>
