---
import { getPicture } from "@astrojs/image";

export interface Props {
  cover: string;
  cover_alt: string;
  releaseYear?: number;
  title: string;
  excerpt: string;
  resume: string;
  slug: string;
  index?: number;
}

const content = Astro.props as Props;

const { image, sources } = await getPicture({
  src: content.cover,
  widths: [330, 480],
  formats: ['avif', 'webp'],
  aspectRatio: '4:3',
  alt: content.cover_alt
});
---

<article data-year={content.releaseYear}>
  <h3>{content.title}</h3>
  <p>{content.excerpt}</p>
  <p>
    <span class="visually-hidden">Technologie principale et service réalisé :</span>
    <small>{content.resume}</small>
  </p>
  <picture>
    {sources.map((attrs) => <source {...attrs} sizes="330px" />)}
    <img alt={content.cover_alt} {...image} loading={content.index && content.index < 3 ? "eager" : "lazy"} decoding={content.index && content.index < 3 ? "sync" : "async"} />
  </picture>
  <p>
    <a class="button button--with-icon" href={content.slug}>
      <span>Voir l'étude de cas</span>
      <svg focusable="false" aria-hidden="true" class="icon-arrow-right-thin">
        <use xlink:href="/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </p>
</article>
