---
import { Picture } from "@astrojs/image/components";

export interface Props {
  cover: string;
  cover_alt: string;
  releaseYear: number;
  title: string;
  excerpt: string;
  resume: string;
  slug: string;
  index: number;
}

const content = Astro.props as Props;
---

<article data-year={content.releaseYear}>
  <h3>{content.title}</h3>
  <p>{content.resume}</p>
  <Picture src={content.cover} alt={content.cover_alt} widths={[330, 480, 640]} aspectRatio={"4:3"} sizes="330px" loading={content.index < 6 ? "eager" : "lazy"} decoding={content.index < 3 ? "sync" : "async"}  />
  <p>{content.excerpt}</p>
  <p>
    <a class="button" href={content.slug}>
      <span>Voir l'étude de cas</span>
      <svg focusable="false" aria-hidden="true" class="icon-arrow-right-thin">
        <use xlink:href="/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </p>
</article>
