---
import { HiddenTypes } from 'src/util';

export interface Props {
  value: string;
  type: HiddenTypes;
  showFullTitle?: true;
}

const content = Astro.props as Props;

const encodedContent = Buffer.from(content.value).toString('base64');
let title: string;

switch (content.type) {
  case HiddenTypes.mail:
    title = "l'adresse mail";
    break;
  case HiddenTypes.phone:
    title = 'le numéro de téléphone';
    break;
  case HiddenTypes.address:
    title = "l'adresse";
    break;
  default:
    title = 'le contenu';
}

---

<button class="button" data-encoded={encodedContent} data-type={content.type}>
  {content.showFullTitle ? `Afficher ${title}` : <>Afficher <span class="visually-hidden">{title}</span></>}
</button>

<script>
  import { HiddenTypes } from "src/util";
  
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = Array.from(document.querySelectorAll('button[data-encoded]')) as HTMLButtonElement[];

    buttons.forEach(button => button.addEventListener('click', () => {
      const type = button.dataset.type as string;
      const decodedContent = atob(button.dataset.encoded);

      let linkURL: string | null;
      let element: HTMLElement;
      
      switch (type) {
        case HiddenTypes.mail:
          linkURL = `mailto:${decodedContent}`;
          element = document.createElement('a');
          break;
        case HiddenTypes.phone:
          linkURL = `tel:+33${decodedContent.replace(/(\s|\.|^0)/g, '')}`;
          element = document.createElement('a');
          break;
        case HiddenTypes.address:
          linkURL = null;
          element = document.createElement('address');
          break;
        default:
          linkURL = null;
          element = document.createElement('p');
      }

      if (element instanceof HTMLAnchorElement) {
        element.href = linkURL;
      }

      element.textContent = decodedContent;

      button.replaceWith(element);
      element.focus();
    }));
  });
</script>
