---
import { type CollectionEntry, getCollection } from "astro:content";

export interface Props {
  technology: CollectionEntry<'technology'>;
}

const { technology: { data, id } } = Astro.props;

const projects = (await getCollection('project', (project) => project.data.technologies.includes(data.title)));
---

<div>
  <h3>
    <img src={data.logo.src.src} alt={data.title} width={data.logo.width} height={data.logo.height}>
  </h3>
  <p>
    <small>{projects.length} projet{projects.length > 1 && 's'}</small>
    <span class="visually-hidden">utilisant cette technologie.</span>
  </p>
  <p>{data.description}</p>
  <p>
    <a class="button button--with-icon" href={`/technologie/${id}`}>
      <span>En savoir plus</span>
      <span class="visually-hidden"> sur {data.title}</span>
      <svg focusable="false" aria-hidden="true" class="icon-arrow-right-thin">
        <use xlink:href="/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </p>
</div>
